<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!--<title></title><link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
			<link rel="stylesheet" href="https://bootswatch.com/3/united/bootstrap.min.css" />
		<link rel="stylesheet" href="../assets/style3.css" />
		<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<!--导航-->
		<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
			<a href="" class="navbar-brand">广厦<br><br/><br/></a>	
			</div>
			
			<ul class="nav navbar-nav">
				<li class="active"><a href="http://localhost/网点/Template/Home_index.html">首页</a></li>
				<li><a href="http://localhost/网点/Template/Homde_case.html">实例</a></li>
				<li><a href="http://localhost/网点/Template/Homde_about.html">关于</a></li>
				<li><a href="#">登录</a></li>
			</ul>
		</div>	
		</nav>
		<!--联系-->
		<div class="container">
		   <h2>联系方式</h2>
		   <address>
		       <strong>深圳市四光年信息技术有限公司.</strong><br> 深圳市南山区深南大道100号<br>
		       <abbr title="Phone">联系电话:</abbr> 400-123-123
		   </address>
		 <!--建议-->
		
		<h2>建议</h2>
		<form action="" role="form">
		  <div class="form-group">
		      <label for="">姓名</label>
		      <input id="truename" type="text"/>
		  </div>
		  <div class="form-group">
			 <label for="">称呼</label>
			 <div class="radio">
			     <label>
			         <input type="radio" checked />先生
			     </label>
			 </div>
			 <div class="radio">
			     <label>
			         <input type="radio" />女士
			     </label>
			 </div>
		</div>
		  <div class="form-group">
		      <label for="job">你的职位</label>
		      <select name="" id="job" >
		          <option value="">开发者</option>
		          <option value="">运营</option>
		          <option value="">管理人员</option>
		      </select>
		  </div>
		  <div class="form-group">
		     <label for="">你最喜欢”公众号管家“的哪个功能</label>
		     <div class="checkbox">
		         <label>
		             <input type="checkbox" checked>文章高级排版
		         </label>
		     </div>
		     <div class="checkbox">
		         <label>
		             <input type="checkbox">多公众号切换
		         </label>
		     </div>
		     <div class="checkbox">
		         <label>
		             <input type="checkbox">素材集中管理
		         </label>
		     </div>
		     <div class="checkbox">
		         <label>
		             <input type="checkbox">其他
		         </label>
		     </div>
	    	</div>
		  <div class="form-group">
		      <label for="">更多建议</label>
		      <textarea rows="3" cols="" ></textarea>
		      <p>请不要超过500个字</p>
		  </div>
		  
		  <div>
		      <button class="btn btn-primary">提交</button>
		  </div>
		</form>
		</div>

		<!--底部-->
	    <div class="contain">
		  <footer>
		    <p> <strong>广厦 </strong> --版权所有 2016 <a href="">四光年科技</a></p> 
		     
		  </footer>
		</div>
	</body>
</html>
